<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>
    Maintenance page
  </title>
</head>
<body>
  <h1>Maintenance phase</h1>
  <p>This site is under construction phase.....</p>
</body>
</html>
